.bestcomments {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 184px 73.4px 184.8px 0;
    width: 1280px;
    box-sizing: border-box;
  }
  .bestcomments .good-reviews-by-customers {
    margin: 0 51.6px 9.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40.7px;
    color: #D1B992;
  }
  .bestcomments .lorem-ispum-elesto-curto-mina-judesr-for-enjiuyt-goof-dcrs-tyup-liek-tyuh-hiiyen-qeuzn-jduqnal-juezo-hsqtb-plsud-iysbj-luezjj {
    margin: 0 18.2px 92px 30.4px;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 21.7px;
    color: #000000;
  }
  .bestcomments .lorem-ipsum-for-new-bite-gerd-kklom-jjkeu-dydsdf-hbbdue-skqihdyv-feuunsn {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12.9px;
    text-transform: capitalize;
    color: #000000;
  }
  
  .bestcomments .lorem-ipsum-for-new-bite-gerd-kklom-jjkeu-dydsdf-hbbdue-skqihdyv-feuunsn-1 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12.9px;
    text-transform: capitalize;
    color: #000000;
  }
  
  .bestcomments .lorem-ipsum-for-new-bite-gerd-kklom-jjkeu-dydsdf-hbbdue-skqihdyv-feuunsn-2 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12.9px;
    text-transform: capitalize;
    color: #000000;
  }
  
  .bestcomments .container {
    display: flex;
    flex-direction: row;
    column-gap: 59.7px;
    width: fit-content;
    box-sizing: border-box;
  }
  
 
  .bestcomments .container-4 {
    border-radius: 6.8px;
    background: rgba(240, 231, 218, 0.48);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14.9px 23.7px 60.4px 18.3px;
    box-sizing: border-box;
  }
  

  